@use '../shared/mixi';

@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

.greatness {
    height: 100%;
    h3 {
        @include margin-bottom(60px);
        @include margin-left(120px);
        @include margin-right(120px);
    }
    
    h2 {
        @include margin-left(120px);
        @include margin-top(60px);
        @include margin-right(120px);
    }
    .slideContent {
        flex-direction: row-reverse;
    }
    .scrollHint {
        z-index: 1;
        width: 50%;
        height: 20px;
        position: absolute;
        bottom: 40px;
        right: 0;
        background: url(../../svg/susanne_preiss_web_arrow_01.svg) no-repeat center center;
        background-size: contain;
    }
    .logo {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        @include margin-top(60px);
        a {
            box-sizing: border-box;
            height: 8vh;
            min-height: 10vmin;
            display: block;
            width: 277px;
            max-width: 70%;
            margin: 0 auto;
            background: url(../../svg/SP_logo_web.svg) no-repeat center center;
            background-size: contain;
        }
    }
    .l-image-full{
        .content {
            .textWrap {
                flex: 0 0 auto;
                max-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}