@media (max-height: 500px) {
    .greatness .scrollHint {
        display: none;
    }
    .greatness .content {
        max-height: 100vh;
    }
    .fp-right {
        display: none;
    }
    .greatness .logo {
        display: none;
    }
    #findYourGreatness {
        display: none;
    }
}