@use '../shared/mixi';

@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

.workshops .background {
    background: url(../../img/susanne_preiss_web_head_01_square.jpg) no-repeat center center;
}

.personal .background {
    background: url(../../img/susanne_preiss_web_personalentwicklung.jpg) no-repeat center top;
}
.business .background {
    background: url(../../img/susanne_preiss_web_business_coaching.jpg) no-repeat right top;
}
.management .background {
    background: url(../../img/susanne_preiss_web_top_management_sparring.jpg) no-repeat center center;
}
.workshops, .personal, .business, .management {
    .background {
        background-size: cover;
    }
}
.speaker .background img {
    object-position: top center;
}

.greatness .background-full img {
    object-position: center center;
}

.workshops, .speaker {
    .textWrap {
        @include margin-top(60px);
        @include margin-bottom(60px);
    }
}