
@use '../shared/vars';
@use '../shared/mixi';

.header {
    opacity: 0;
    transition: opacity vars.$header-text ease;
}
.head-open .header {
    opacity: 1;
    z-index: 101;
}
.navBarBackground {
    transition: all vars.$content-open-dur ease vars.$content-open-dur;
}
.head-open .navBarBackground {
    transform: translate(-100%, 0px);
    transition: all vars.$content-open-dur ease;
}
.homeAnchor {
    transition: all vars.$content-open-dur ease vars.$content-open-dur;
}
.nav-open {
    .homeAnchor {
        transform: translate(-300%, 0px);
        transition: all vars.$content-open-dur ease;
    }
    .navBarBackground {
        transform: translate(-100%, 0px);
        transition: all vars.$content-open-dur ease;
    }
}
.topNavToggle {
    transition: transform vars.$hide-header-toggler ease;
}
.kont-open, .impressum-open, .datenschutz-open {
    .topNavToggle {
        transform: translate(300%, 0px);
    }
}
.nav-white {
    .topNavToggle .bar {
        background: vars.$header-color;
    }
    &.nav-open .topNavToggle .bar {
        background: vars.$nav-el-color;
    }
}