@use '../shared/mixi';
@use '../shared/vars';

.one {
    background: none;
    background-size: cover;
    height: 0;
    width: 100%;
}

.content {
    opacity: 1;
    padding-bottom: 70px;
    transition: all vars.$content-open-dur ease vars.$content-open-dur;
}

.nav-open {
    .content {
        opacity: 0;
        transform: translate(-100%, 0);
        transition: all vars.$content-open-dur ease;
    }
}

.video-js {
    width: 100%;
}
