header a {
    text-align: center;
    &:link    {
        color:#7D7D7D;
        text-decoration: none;
    }  /* unvisited link  */
    &:visited {
        color:#7D7D7D;
        text-decoration: none;
    }  /* visited link    */
    &:hover   {
        color:#2B2C36;
        text-decoration: none;
    }  /* mouse over link */
    &:active  {
        color:#7D7D7D;
        text-decoration: none;
    }  /* selected link   */ 
}

a {
    color:#2B2C36;
    text-decoration: none;
}