@import '../../../node_modules/rfs/scss';
$rfs-two-dimensional: true;

.m-box-container {
    @include margin-top(40px);
    @include margin-bottom(40px);

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    > div {
        @include padding(10px);
        @include margin(10px);

        border: black solid 0.8px;
    }

    h6,
    p {
        margin: 0;
        padding: 0;
    }
}

.content {
    > .m-box-container {
        @include padding-left(50px);
        @include padding-right(50px);
    }
}

.m-box-container {
    .redAnchor svg {
        transition: transform 0.1s ease-in-out;
    }
    .mouse-enter .redAnchor svg{
        transform: translate(100%, 0);
    }
}
