@use '../shared/mixi';
@use '../shared/vars';


@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

button {
    @include mixi.resetFormElems();
    height: vars.$bottomNav-button-height;
    background: transparent;
    border-radius: 0px;
    box-sizing: border-box;
}