@use 'vars';
@use 'mixi';

.bottomNavToggles {
    &.white-bg-f {
        background: #efeae3;
    }

    &.white-f > .kontakt button {
        border-bottom: solid #efeae3 0.8px;
        color: #efeae3;
    }

    &.white-f .impressum.datenschutz button {
        color: #efeae3;
    }

    &.white-f,
    &.black-f {
        background: none;
    }

    &.white-f.white-bg-f,
    &.black-f.white-bg-f {
        background: none;
    }


}
