@use '../shared/vars';
@use '../shared/mixi';
@use '../dynamics/head_dyn.scss';
@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

.datenschutzPage {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: calc(#{vars.$bottomNav-button-height} + #{vars.$bottomNav-rfs-bottomPadding} + #{vars.$bottomNav-rfs-topPadding});
    margin-bottom: calc(#{vars.$bottomNav-button-height} + #{vars.$bottomNav-rfs-bottomPadding} + #{vars.$bottomNav-rfs-topPadding});
}