@use '../shared/vars';
@use '../shared/mixi';
@use '../dynamics/head_dyn.scss';
@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

/* navBar */
.navBar {
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.navBarBackground {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: none;
    z-index: -1;
}

/* topNavToggle */
.topNavToggle {
    @include margin-top(20px);
    @include margin-bottom(20px);
    @include margin-left(24px);
    @include margin-right(24px);
    button {
        @include mixi.resetFormElems();
        display: block;
        width: 30px;
        height: 20px;
        background: transparent;
        padding: 0;
        text-align: center;
        position: relative;
        @media (pointer: coarse) {
            width: 42px;
            height: 28px;
        }
    }
    .bar {
        background-color: #2B2C36;
        display: block;
        position: absolute;
        height: 10%;
        width: 100%;
        border-radius: 10%/100%;
    }
    .fst {
        top: 0;
    }
    .scd {
        top: 45%;
    }
    .thrd {
        top: 90%;
    }
}




/* header */
.header {
    @include font-size(18px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$header-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    a {
        flex: 0 1 auto;
        margin-top: 0.5rem;
        @include margin-left(20px);
        @include margin-right(20px);
        margin-bottom: 0.5rem;
    }
}


.white-hr .topNavToggle {
    .bar {
        background-color: #efeae3;
    }
}

.black-hr .topNavToggle {
    .bar {
        background-color: #2B2C36;
    }
}

.white-bg-hr .navBarBackground {
    background: #efeae3;
}
