@use '../shared/mixi';
@import "../../../node_modules/rfs/scss";
$rfs-two-dimensional: true;

.homeAnchor {
    @include margin-top(20px);
    @include margin-bottom(20px);
    @include margin-left(24px);
    @include margin-right(24px);
    a {
        display: block;
        width: 13px;
        height: 24px;
        background: url('~svg/SP_Website_Pfeil.svg') no-repeat center center;
        background-size: contain;
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        text-align: center;
        @media (pointer: coarse) {
            width: 15px;
            height: 28px;
        }
    }
}

.black-hl .homeAnchor {
    a {
        background: url('~svg/SP_Website_Pfeil.svg') no-repeat center center;
    }
}

.white-hl .homeAnchor {
    a {
        background: url('~svg/SP_Website_Pfeil_white.svg') no-repeat center center;
    }
}
