.m-play-button {
    background: url('~svg/video_play_button_grey.svg') no-repeat center center;
    background-size: contain;
    height: 60px;
    max-height: 60%;
    max-width: 60%;
    transition: transform 0.2s ease-in-out;
    width: 60px;
}

.mouse-enter {
    .m-play-button {
        transform: scale(1.1);
    }
}
